In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime
from datetime import datetime, timedelta
%matplotlib inline

//anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [2]:
#importing data, spray data for the test set (2008,2010,2012,2014) is not provided. Therefore, spray info is not used for the analysis
train = pd.read_csv('./assets/train.csv')
test =pd.read_csv('./assets/test.csv')
weather = pd.read_csv('./assets/weather.csv')
#spray =pd.read_csv('./assets/spray.csv')
mapdata = np.loadtxt("./assets/mapdata_copyright_openstreetmap_contributors.txt")

In [3]:
weather.head(2)

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6

In [4]:
### Station 2 contains redundant information, so we delete measurements from this station
weather = weather[weather['Station'] == 1]
weather = weather.drop('Station', axis=1)

### Depth, Water1 and Snowfall don't provide any valuable informaion.  The unique values for these columns are
#Depth ['0']
#Water1 ['M']
#SnowFall ['0.0' '  T' '0.1']
### Let's drop these:
weather = weather.drop(['Depth','Water1','SnowFall'], axis=1)

### moreover, we consider it highly doubtful that sunrise and sunset will have predictive value, so we are
### deleting these columns
weather = weather.drop(['Sunrise','Sunset'], axis=1)

weather.head(2)

,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,2007-05-01,83,50,67,14,51,56,0,2,,0.00,29.10,29.82,1.7,27,9.2
2,2007-05-02,59,42,51,-3,42,47,14,0,BR,0.00,29.38,30.09,13.0,4,13.4

In [5]:
### what are the data types for each column?
for col in weather.columns:
    print col, type(weather[col][0])

Date <type 'str'>
Tmax <type 'numpy.int64'>
Tmin <type 'numpy.int64'>
Tavg <type 'str'>
Depart <type 'str'>
DewPoint <type 'numpy.int64'>
WetBulb <type 'str'>
Heat <type 'str'>
Cool <type 'str'>
CodeSum <type 'str'>
PrecipTotal <type 'str'>
StnPressure <type 'str'>
SeaLevel <type 'str'>
ResultSpeed <type 'numpy.float64'>
ResultDir <type 'numpy.int64'>
AvgSpeed <type 'str'>

In [6]:
# for columns which contain strings, we want to know which can be converted into more useful data types and which 
# should remain as text .  Let's look at the contents of each column which contains strings:
for col in weather.columns:
    if type(weather[col][0]) == str:
        print col, weather[col].unique()

Date ['2007-05-01' '2007-05-02' '2007-05-03' ..., '2014-10-29' '2014-10-30'
 '2014-10-31']
Tavg ['67' '51' '56' '58' '60' '59' '65' '68' '69' '70' '61' '55' '73' '53' '57'
 '62' '71' '75' '76' '63' '66' '74' '77' '72' '81' '80' '79' '85' '82' '78'
 '64' '50' '49' '46' '45' '54' '52' '48' '47' '44' '40' '38' '42' '83' '84'
 '37' '41' '43' '86' '87' '88' '91' '93' '89' '36' '39']
Depart ['14' '-3' ' 2' ' 4' ' 5' '10' '12' '13' '-2' '15' '11' '-4' '-6' ' 8' '-5'
 ' 1' ' 9' ' 6' '-9' '-8' ' 3' ' 0' '-1' '-7' ' 7' '-14' '18' '16' '22'
 '21' '20' '-10' '-16' '17' '-12' '-11' '-15' '-17' '19' '-13' '23']
WetBulb ['56' '47' '48' '50' '49' '46' '54' '62' '63' '60' '51' '59' '61' '43' '53'
 '44' '58' '65' '66' '67' '55' '69' '57' '64' '70' '72' '71' '68' '73' '74'
 '76' '52' '45' '42' '39' '40' '41' '35' '33' '34' 'M' '32' '38' '36' '78'
 '77' '75' '37']
Heat ['0' '14' '9' '7' '5' '6' '4' '10' '12' '8' '3' '2' '1' '15' '16' '19' '20'
 '11' '13' '17' '18' '21' '25' '27' '23' '28' '24' '22' '29' '26']
Cool [' 2' ' 0' ' 3' ' 4' ' 5' ' 8' ' 6' '10' '11' ' 1' ' 9' '12' ' 7' '16' '15'
 '14' '20' '17' '13' '18' '19' '21' '22' '23' '26' '28' '24']
CodeSum [' ' 'BR' 'RA' 'BR HZ' 'RA BR' 'RA VCTS' 'RA HZ' 'TSRA RA BR HZ' 'HZ'
 'TSRA BR HZ' 'TSRA RA BR' 'TSRA RA HZ' 'TSRA BR HZ VCTS' 'TSRA'
 'TSRA BR HZ FU' 'BR HZ FU' 'TSRA RA VCTS' 'HZ VCTS' 'RA BR VCTS'
 'TSRA RA BR VCTS' 'DZ BR' 'TS TSRA RA BR HZ' 'RA BR HZ' 'TSRA RA'
 'TS TSRA RA BR' 'TS RA BR' 'TS TSRA RA' 'TS TSRA RA BR VCTS' 'TS RA'
 'TSRA BR' 'RA DZ FG+ BCFG BR' 'RA FG+ MIFG BR' 'RA DZ' 'RA DZ BR'
 'TSRA RA FG+ FG BR' 'TSRA DZ FG+ FG BR HZ' 'TS TSRA' 'TSRA HZ' 'TS'
 'FG+ BR HZ' 'TS TSRA BR HZ' 'DZ BR HZ' 'TS TSRA BR' 'RA BR FU' 'TS BR HZ'
 'FG+ BR' 'FG+ MIFG BR' 'TSRA RA FG BR' 'DZ' 'RA DZ BR HZ' 'TS BR'
 'TS RA FG+ FG BR' 'RA DZ FG+ FG BR' 'RA BR SQ' 'RA FG BR' 'RA BR HZ FU'
 'MIFG BCFG BR' 'TSRA RA FG+ FG BR HZ' 'TSRA DZ BR HZ'
 'TS TSRA RA FG BR HZ' 'RA DZ FG+ BR' 'TSRA FG+ BR HZ' 'FG+ FG BR HZ'
 'FG BR HZ' 'TS RA BR HZ' 'BCFG BR' 'RA SN']
PrecipTotal ['0.00' '  T' '0.13' '0.38' '0.14' '0.07' '0.02' '1.01' '0.04' '0.01'
 '0.19' '0.39' '0.42' '0.28' '0.58' '0.05' '0.16' '0.15' '0.40' '0.30'
 '0.43' '0.11' '1.55' '0.17' '0.03' '1.43' '0.26' '1.31' '0.06' '0.29'
 '0.41' '0.23' '0.09' '1.33' '0.91' '0.37' '2.35' '0.24' '0.34' '0.18'
 '0.36' '0.27' '0.33' '1.28' '0.76' '0.95' '0.08' '0.12' '0.48' '0.52'
 '0.64' '1.24' '0.20' '0.72' '0.73' '1.61' '0.74' '1.05' '2.43' '2.90'
 '1.23' '6.64' '1.44' '0.82' '0.80' '0.32' '0.67' '0.55' '1.73' '0.44'
 '0.45' '3.97' '0.25' '0.68' '0.63' '0.35' '0.93' '0.22' '0.75' '0.89'
 '0.21' '0.46' '1.03' '0.60' '0.81' '0.97' '1.49' '1.02' '0.59' '0.87'
 '0.85' '0.54' '0.79' '2.79' '3.64' '0.10' '0.31' '2.24' '1.06' '1.88'
 '6.86' '0.71' '0.70' '1.11' '0.65' '1.21' '0.77' '1.34' '0.47' '1.12'
 '0.57' '0.51' '1.09' '0.56' '1.35' '0.84' '1.48' '0.92' '0.50' '1.04'
 '2.09' '1.26' '2.60' '2.76' '0.98' '1.58']
StnPressure ['29.10' '29.38' '29.39' '29.31' '29.40' '29.57' '29.29' '29.21' '29.20'
 '29.33' '29.49' '29.23' '29.13' '29.55' '29.53' '29.34' '29.41' '29.51'
 '29.36' '29.43' '29.28' '29.19' '29.03' '28.82' '29.07' '28.84' '29.18'
 '29.44' '29.30' '29.26' '29.12' '29.24' '29.32' '29.05' '29.11' '29.06'
 '29.22' '29.08' '29.25' '29.37' '29.17' '29.15' '29.47' '29.56' '29.46'
 '29.42' '29.27' '29.50' '29.16' '28.59' '28.75' '29.02' '29.79' '29.63'
 '28.95' '28.79' '29.01' '28.97' '28.85' '28.87' '28.93' '28.96' '28.94'
 '29.00' '29.60' '28.90' '28.98' '29.09' '29.35' '29.14' '29.04' '29.45'
 '29.59' '29.54' '29.52' '29.58' '29.48' '29.64' '29.65' 'M' '28.89'
 '28.91' '28.80' '28.73' '28.74' '28.55' '28.92' '28.99' '29.61' '28.81'
 '28.71' '29.62' '28.69' '28.83']
SeaLevel ['29.82' '30.09' '30.12' '30.05' '30.10' '30.29' '30.03' '29.94' '29.92'
 '30.04' '30.20' '30.24' '29.97' '29.84' '30.27' '30.25' '30.08' '30.11'
 '30.06' '30.15' '30.00' '29.91' '29.77' '29.56' '29.52' '29.79' '29.81'
 '29.55' '29.85' '30.07' '30.16' '30.02' '29.99' '29.95' '29.96' '30.13'
 '30.23' '30.22' '29.90' '29.80' '29.93' '29.98' '29.89' '30.14' '30.21'
 '29.83' '29.76' '29.87' '30.18' '30.19' '30.28' '30.17' '30.01' '29.88'
 '29.34' '29.44' '29.71' '29.78' '30.52' '30.40' '29.67' '29.53' '29.69'
 '29.86' '29.61' '29.64' '29.66' '29.70' '30.34' '29.62' '29.75' '30.26'
 '30.31' '30.32' '30.37' '30.39' '30.30' '29.73' '29.68' 'M' '29.60'
 '29.65' '29.59' '30.35' '29.48' '30.33' '30.36' '30.38' '29.74' '29.50'
 '29.25' '29.72' '29.54' '29.45' '29.43' '29.51' '29.63']
AvgSpeed ['9.2' '13.4' '11.9' '10.8' '12.0' '15.0' '10.5' '5.8' '6.2' '4.1' '12.9'
 '8.1' '17.3' '12.3' '12.2' '11.3' '7.5' '11.4' '10.7' '8.2' '10.2' '11.8'
 '8.8' '7.2' '9.5' '5.3' '6.5' '10.6' '9.9' '6.4' '7.4' '6.7' '9.7' '7.6'
 '23.1' '13.8' '5.0' '5.6' '6.9' '8.6' '6.8' '4.9' '6.3' '15.1' '8.7' '9.0'
 '8.0' '7.1' '12.5' '8.3' '7.3' '5.5' '13.1' '10.9' '11.1' '13.2' '5.2'
 '10.1' '9.1' '3.3' '4.0' '6.6' '9.4' '7.9' '5.7' '4.3' '5.9' '6.1' '9.6'
 '6.0' '3.9' '5.4' '11.7' '12.1' '13.9' '13.5' '8.5' '12.4' '9.8' '14.6'
 '4.6' '7.0' '12.8' '15.5' '3.5' '18.9' '16.7' '18.2' '14.5' '14.1' '4.2'
 '10.4' '14.3' '11.5' '12.7' '12.6' '17.7' '7.8' '15.9' '14.7' '8.4' '19.3'
 '4.8' '14.0' '21.5' '7.7' '10.0' '16.3' '11.2' '5.1' '9.3' '10.3' '4.4'
 '3.8' '2.9' '2.7' '17.8' '14.4' '16.4' '11.0' '4.7' '11.6' '13.6' '2.4'
 '8.9' '3.4' '3.0' '2.1' '20.7' '14.9' '13.0' '16.2' '17.4' '14.2' '15.2'
 '4.5' '15.3' '15.7' '18.8' '17.1' '3.7' '15.4' '3.6' '26.3' '23.2' '13.3'
 '16.9' '21.4' '14.8' '3.1' '2.3' '3.2' '15.6' '18.0' '16.1' '17.2' '17.6'
 '18.5' '13.7' '16.0' '15.8' '2.8' '1.9' '22.9']

In [7]:
# It looks like date needs to be converted into datetime format

# CodeSum needs to be converted into dummy columns containing a 0 or 1 value
# for each classification code

# Non-numeric symbols need to be removed from WetBulb, StnPressure, SeaLevel, PrecipTotal

#AvgSpeed, Tavg, Depart, WetBulb, Heat, Cool, PrecipTotal, StnPressure, SeaLevel need to be converted to floats

In [8]:
def to_float(value):
    value = value.strip()
    value = value.replace('M','nan')
    value = value.replace('T','0.0')
    value = float(value)
    return(value)

In [9]:
### converting string columns to integers
str_columns = ['AvgSpeed', 'Tavg', 'Depart', 'WetBulb', 'Heat', 'Cool', 'PrecipTotal', 'StnPressure', 'SeaLevel']
for col in str_columns:
    weather[col] = weather[col].apply(lambda x: to_float(x))

In [10]:
weather.head(10)

,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,2007-05-01,83,50,67.0,14.0,51,56.0,0.0,2.0,,0.00,29.10,29.82,1.7,27,9.2
2,2007-05-02,59,42,51.0,-3.0,42,47.0,14.0,0.0,BR,0.00,29.38,30.09,13.0,4,13.4
4,2007-05-03,66,46,56.0,2.0,40,48.0,9.0,0.0,,0.00,29.39,30.12,11.7,7,11.9
6,2007-05-04,66,49,58.0,4.0,41,50.0,7.0,0.0,RA,0.00,29.31,30.05,10.4,8,10.8
8,2007-05-05,66,53,60.0,5.0,38,49.0,5.0,0.0,,0.00,29.40,30.10,11.7,7,12.0
10,2007-05-06,68,49,59.0,4.0,30,46.0,6.0,0.0,,0.00,29.57,30.29,14.4,11,15.0
12,2007-05-07,83,47,65.0,10.0,41,54.0,0.0,0.0,RA,0.00,29.38,30.12,8.6,18,10.5
14,2007-05-08,82,54,68.0,12.0,58,62.0,0.0,3.0,BR,0.00,29.29,30.03,2.7,11,5.8
16,2007-05-09,77,61,69.0,13.0,59,63.0,0.0,4.0,BR HZ,0.13,29.21,29.94,3.9,9,6.2
18,2007-05-10,84,56,70.0,14.0,52,60.0,0.0,5.0,BR,0.00,29.20,29.92,0.7,17,4.1

In [11]:
### creating new columns for dummies
codes = ['HZ', 'VC', 'FU', 'BC', 'SQ', 'FG+', 'MI', 'TS', 'DZ', 'RA', 'BR', 'FG', 'SN']
for code in codes:
    weather[code] = 0

In [12]:
def dummy_codes(x,code):
        if code in x:
            return 1
        else:
            return 0

In [13]:
for code in codes:
    weather[code] = weather['CodeSum'].apply(lambda x: dummy_codes(x,code))
weather.head(2)

,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,CodeSum,...,BC,SQ,FG+,MI,TS,DZ,RA,BR,FG,SN
0,2007-05-01,83,50,67.0,14.0,51,56.0,0.0,2.0,,...,0,0,0,0,0,0,0,0,0,0
2,2007-05-02,59,42,51.0,-3.0,42,47.0,14.0,0.0,BR,...,0,0,0,0,0,0,0,1,0,0

In [14]:
#dropping original CodeSum column
weather = weather.drop('CodeSum', axis=1)

In [15]:
### converting dates from string to datetime object and creating new column
weather['Datetime_Date'] = weather.Date.apply(lambda x: datetime.strptime(x,'%Y-%m-%d'))

In [16]:
### columns where we want an average
columns_to_avg = ['Tavg','DewPoint','WetBulb','PrecipTotal','StnPressure','SeaLevel','AvgSpeed','HZ', 'VC', 'FU', 'BC',
       'SQ', 'FG+', 'MI', 'TS', 'DZ', 'RA', 'BR', 'FG', 'SN']
columns_to_max = ['Tmax','Heat','ResultSpeed']
columns_to_min = ['Tmin','Cool']
columns_to_sum = ['HZ', 'VC', 'FU', 'BC',
       'SQ', 'FG+', 'MI', 'TS', 'DZ', 'RA', 'BR', 'FG', 'SN']

for i in columns_to_avg:
    weather[i] = weather[i].rolling(window=30, center=False).mean()
for i in columns_to_max:
    weather[i] = weather[i].rolling(window=30, center=False).max()
for i in columns_to_min:
    weather[i] = weather[i].rolling(window=30, center=False).min()

In [17]:
### setting 
weather.set_index('Date',inplace=True, drop=True,)

In [18]:
weather.tail(10)

,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,PrecipTotal,StnPressure,...,SQ,FG+,MI,TS,DZ,RA,BR,FG,SN,Datetime_Date
Date,,,,,,,,,,,,,,,,,,,,,
2014-10-22,83.0,33.0,55.566667,-4.0,45.266667,50.266667,24.0,0.0,0.082000,29.239000,...,0.0,0.0,0.0,0.033333,0.266667,0.333333,0.366667,0.0,0.000000,2014-10-22
2014-10-23,83.0,33.0,55.066667,-1.0,45.066667,50.000000,24.0,0.0,0.082000,29.233000,...,0.0,0.0,0.0,0.033333,0.266667,0.333333,0.400000,0.0,0.000000,2014-10-23
2014-10-24,83.0,33.0,54.866667,11.0,44.966667,49.866667,24.0,0.0,0.082000,29.222333,...,0.0,0.0,0.0,0.033333,0.266667,0.333333,0.400000,0.0,0.000000,2014-10-24
2014-10-25,83.0,33.0,54.733333,13.0,44.566667,49.633333,24.0,0.0,0.082000,29.212000,...,0.0,0.0,0.0,0.033333,0.266667,0.333333,0.433333,0.0,0.000000,2014-10-25
2014-10-26,83.0,33.0,54.333333,5.0,43.866667,49.166667,24.0,0.0,0.082000,29.202000,...,0.0,0.0,0.0,0.033333,0.266667,0.333333,0.400000,0.0,0.000000,2014-10-26
2014-10-27,83.0,33.0,54.233333,16.0,43.766667,49.133333,24.0,0.0,0.082000,29.183667,...,0.0,0.0,0.0,0.033333,0.266667,0.333333,0.400000,0.0,0.000000,2014-10-27
2014-10-28,83.0,33.0,53.933333,10.0,43.200000,48.733333,24.0,0.0,0.082000,29.176000,...,0.0,0.0,0.0,0.033333,0.266667,0.333333,0.366667,0.0,0.000000,2014-10-28
2014-10-29,77.0,33.0,53.100000,-4.0,42.466667,48.133333,24.0,0.0,0.081667,29.178667,...,0.0,0.0,0.0,0.033333,0.266667,0.300000,0.333333,0.0,0.000000,2014-10-29
2014-10-30,77.0,32.0,52.733333,-4.0,42.033333,47.800000,24.0,0.0,0.081667,29.180333,...,0.0,0.0,0.0,0.033333,0.233333,0.300000,0.300000,0.0,0.000000,2014-10-30
2014-10-31,77.0,32.0,52.066667,-6.0,41.200000,47.066667,25.0,0.0,0.082667,29.189333,...,0.0,0.0,0.0,0.033333,0.233333,0.333333,0.300000,0.0,0.033333,2014-10-31

In [19]:
weather = weather.dropna()

In [20]:
weather.head()

,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,PrecipTotal,StnPressure,...,SQ,FG+,MI,TS,DZ,RA,BR,FG,SN,Datetime_Date
Date,,,,,,,,,,,,,,,,,,,,,
2007-05-30,90.0,42.0,63.733333,13.0,45.266667,54.033333,14.0,0.0,0.059667,29.361333,...,0.0,0.0,0.0,0.066667,0.0,0.300000,0.300000,0.0,0.0,2007-05-30
2007-05-31,90.0,42.0,63.900000,8.0,45.600000,54.333333,14.0,0.0,0.060000,29.367333,...,0.0,0.0,0.0,0.066667,0.0,0.333333,0.300000,0.0,0.0,2007-05-31
2007-06-01,90.0,42.0,64.666667,10.0,46.300000,54.966667,12.0,0.0,0.066333,29.361000,...,0.0,0.0,0.0,0.100000,0.0,0.366667,0.300000,0.0,0.0,2007-06-01
2007-06-02,90.0,42.0,65.233333,9.0,47.066667,55.600000,12.0,0.0,0.067667,29.349000,...,0.0,0.0,0.0,0.100000,0.0,0.400000,0.333333,0.0,0.0,2007-06-02
2007-06-03,90.0,42.0,65.633333,6.0,47.700000,56.033333,12.0,0.0,0.068000,29.332667,...,0.0,0.0,0.0,0.133333,0.0,0.400000,0.366667,0.0,0.0,2007-06-03